<div class="logo">
  <h1>Time Tracker</h1>
</div>

<ul class="nav nav-tabs custom-nav">
  <li class="nav-item">
    <%= link_to "", root_path, class: "nav-link #{active?(root_path)} glyphicon glyphicon-home" %>
  </li>
  <% if current_user %>
    <%= render 'shared/employee_nav_items' if employee? %>
    <%= render 'shared/audit_log_tab' if admin? %>

  <% end %>
  <li class="dropdown float-right <%#= active?(edit_user_registration_path)%> ">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
    <ul class="dropdown-menu">

      <%= render 'shared/admin_drowpdown' if admin? %>

      <li role="separator" class="divider"></li>
      <% if current_user %>
        <li><%= link_to "Log out",  destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In",  new_user_session_path %></li>
      <% end %>

    </ul>
  </li>
</ul>

